In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import files
uploaded = files.upload()

Saving 5_a.csv to 5_a.csv
Saving 5_b.csv to 5_b.csv
Saving 5_c.csv to 5_c.csv
Saving 5_d.csv to 5_d.csv

In [3]:
df = pd.read_csv('5_a.csv')
y_pred = [1 if x > 0.5 else 0 for x in df['proba']]
df['y_pred'] = y_pred
df.head(5)

     y     proba  y_pred
0  1.0  0.637387       1
1  1.0  0.635165       1
2  1.0  0.766586       1
3  1.0  0.724564       1
4  1.0  0.889199       1

In [4]:
#1. Compute confusion matrix
confusion_matrix = pd.crosstab(index = df['y_pred'],columns=df['y'] ,rownames = ['Predicted'], colnames=['Actual'])
confusion_matrix

Actual     0.0    1.0
Predicted
1          100  10000

In [5]:
#2. Compute F1 score
TP, TN, FP, FN = 0,0,0,0
FP = (confusion_matrix[0]).to_numpy()
TP = (confusion_matrix[1]).to_numpy()
Precision = TP /(TP + FP)
Recall = TP/ (TP+FN) 
F1_score = (2*Precision*Recall) / (Precision + Recall)
F1_score

array([0.99502488])

In [6]:
#3. compute AUC score
probabilities = [x for x in df.proba]
probabilities.sort(reverse = True)
tpr_array = []
fpr_array = []
i = 0
while i < len(probabilities):
  tp, fp, tn, fn = 0,0,0,0
  predicted = [1 if x > probabilities[i] else 0 for x in df['proba']]
  actual = [x for x in df.y]
  tp = sum([1 for i, j in zip(predicted, actual) if (i == 1.0 and j == 1.0)])
  tn = sum([1 for i, j in zip(predicted, actual) if (i == 0 and j == 0)])
  fp = sum([1 for i, j in zip(predicted, actual) if (i == 1.0 and j == 0)])
  fn = sum([1 for i, j in zip(predicted, actual) if (i == 0  and j == 1.0)])
  fpr_array.append(fp / (fp + tn))
  tpr_array.append(tp / (tp + fn))
  i = i + 1

In [7]:
auc = np.trapz(tpr_array, fpr_array)
auc

0.48829900000000004

In [9]:

accuracy = (TN + TP) / (TN + TP + FP + FN)
accuracy

array([0.99009901])

In [10]:
df_b = pd.read_csv('5_b.csv')
y_pred_b = [1 if x > 0.5 else 0 for x in df_b['proba']]
df_b['y_pred_b'] = y_pred_b
df_b.head(5)

     y     proba  y_pred_b
0  0.0  0.281035         0
1  0.0  0.465152         0
2  0.0  0.352793         0
3  0.0  0.157818         0
4  0.0  0.276648         0

In [11]:
#1. Compute confusion matrix
confusion_matrix_b = pd.crosstab(index = df_b['y_pred_b'], columns = df_b['y'] ,rownames = ['Predicted'], colnames=['Actual'])
confusion_matrix_b

Actual      0.0  1.0
Predicted
0          9761   45
1           239   55

In [12]:
TP_b, TN_b, FP_b, FN_b = 0,0,0,0
FP_b = (confusion_matrix_b[1][0])
TP_b = (confusion_matrix_b[1][1])
TN_b = (confusion_matrix_b[0][0])
FN_b = (confusion_matrix_b[0][1])
Precision_b = TP_b /(TP_b + FP_b)
Recall_b = TP_b / (TP_b + FN_b) 
F1_score_b = (2*Precision_b*Recall_b) / (Precision_b + Recall_b)
F1_score_b

0.2791878172588833

In [13]:
probabilities_b = [x for x in df_b.proba]
probabilities_b.sort(reverse = True)
tpr_array_b = []
fpr_array_b = []
i = 0
while i < len(probabilities_b):
  tp_b, fp_b, tn_b, fn_b = 0,0,0,0
  predicted = [1 if x > probabilities_b[i] else 0 for x in df_b['proba']]
  actual = [x for x in df_b.y]
  tp_b = sum([1 for i, j in zip(predicted, actual) if (i == 1 and j == 1)])
  tn_b = sum([1 for i, j in zip(predicted, actual) if (i == 0 and j == 0)])
  fp_b = sum([1 for i, j in zip(predicted, actual) if (i == 1 and j == 0)])
  fn_b = sum([1 for i, j in zip(predicted, actual) if (i == 0  and j == 1)])
  tpr = tp_b / (tp_b + fn_b)
  fpr = fp_b / (fp_b + tn_b)
  fpr_array_b.append(fpr)
  tpr_array_b.append(tpr)
  i = i + 1

In [14]:
auc = np.trapz(tpr_array_b,fpr_array_b)
auc

0.9376570000000001

In [15]:
accuracy = (TN_b + TP_b) / (TN_b + TP_b + FP_b + FN_b)
accuracy

0.9718811881188119

In [16]:
# Task C
df_c = pd.read_csv('5_c.csv')
df_c.head(5)

   y      prob
0  0  0.458521
1  0  0.505037
2  0  0.418652
3  0  0.412057
4  0  0.375579

In [18]:
probabilities_c = [x for x in df_c.prob]
probabilities_c.sort(reverse = True)
B = []
i = 0
while i < len(probabilities_c):
  tp_c, fp_c, tn_c, fn_c = 0,0,0,0
  predicted = [1 if x > probabilities_c[i] else 0 for x in df_c['prob']]
  actual = [x for x in df_c.y]
  tp_c = sum([1 for i, j in zip(predicted, actual) if (i == 1 and j == 1)])
  tn_c = sum([1 for i, j in zip(predicted, actual) if (i == 0 and j == 0)])
  fp_c = sum([1 for i, j in zip(predicted, actual) if (i == 1 and j == 0)])
  fn_c = sum([1 for i, j in zip(predicted, actual) if (i == 0  and j == 1)])
  a = (500 * fn_c) + (100 * fp_c)
  B.append((a,probabilities_c[i]))
  i = i + 1

In [22]:
A = sorted(B, key = lambda i: i[0])[0]
print(A)

(141000, 0.22987164436159915)

In [23]:
y_pred_c = [0 if x < A[1] else 1 for x in df_c['prob']]
df_c['y_pred_c'] = y_pred_c
df_c.head(5)

   y      prob  y_pred_c
0  0  0.458521         1
1  0  0.505037         1
2  0  0.418652         1
3  0  0.412057         1
4  0  0.375579         1

In [24]:
df_d = pd.read_csv('5_d.csv')
df_d.head(5)

       y   pred
0  101.0  100.0
1  120.0  100.0
2  131.0  113.0
3  164.0  125.0
4  154.0  152.0

In [ ]:
#1. Compute Mean Square Error
MSE = np.square((df_d.y - df_d.pred)).mean()
MSE

177.16569974554707

In [ ]:
#2. Compute MAPE
e = [abs(i-j) for i,j in zip(df_d.y,df_d.pred)]
MAPE = sum(e) / sum(df_d.y)
MAPE

0.1291202994009687

In [28]:
#3. Compute R^2 or coefficient of determination
avg_y = df_d['y'].mean()
SStot = (np.square(df_d.y - avg_y)).mean()
SSres = np.square((df_d.y - df_d.pred)).mean()
R_sq = 1 - (SSres / SStot)
R_sq

0.9563582786990964

References:
https://datatofish.com/confusion-matrix-python/

https://www.geeksforgeeks.org/python-get-first-element-with-maximum-value-in-list-of-tuples/